<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="">
    <button class="btn btn-outline-success">buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Task</th>
      <th>Is Complete</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="Tasks && Tasks.length">
    <tr *ngFor="let task of Tasks">
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>{{task.isComplete}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!Tasks.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>No tasks to do!</h4>
      </td>
    </tr>
  </tfoot>
</table>